node_modules
.next
.git
.github
*.md
.env
.env.local
.env.*.local
infra
tests
vitest.config.mjs
.eslintrc*
eslint.config.mjs
.prettierrc
.husky
.coverage
coverage
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
